body {
    font-family: Arial;
    background: #f4f6f8;
    text-align: center;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
}

li {
    list-style: none;
    margin: 10px;
}
